<section class="container">

  <h1><%= @header %></h1>

  <div class="form-container">
      <% @board.each.with_index do |row, i| %>
        <div class="row">
        <% row.each.with_index do |cell, j| %>
          <div class='cell <%= "cell_#{i*@rowsize + j}" %>'>
            <% cell_class = ((i*@rowsize + j > 30) && (i*@rowsize + j < 35)) ? 'cell-submit active' : 'cell-submit'%>
            <%= form_with url: site_home_path do |f|%>
            <%= f.hidden_field :content, value: cell[1] %>
            <%= f.hidden_field :index, value: cell[0] %>
            <%= f.hidden_field :positions, value: @positions_to_string %>
            <%= f.hidden_field :rowsize, value: @rowsize %>
            <%= f.submit cell[2], name: 'btnSubmit', class: cell_class, id: "submit_#{i*@rowsize + j}", data: { disable_with: false }, disabled: @disable_submit %>
            <% end %>
          </div><!-- end cell -->
        <% end %>
      </div><!-- end row -->
      <% end %>
  </div><!-- end form_container -->

</section>
