<section class="container">

  <h1><%= @header %></h1>

  <div class="form-container">
      <% @board.each do |row| %>
        <div class="row">
        <% row.each do |cell| %>
          <div class='cell'>
            <%= form_with url: site_home_path do |f|%>
            <%= f.hidden_field :content, value: cell[1] %>
            <%= f.hidden_field :index, value: cell[0] %>
            <%= f.submit cell[1], {class: "cell-submit"}  %>
            <% end %>
          </div><!-- end cell -->
        <% end %>
      </div><!-- end row -->
      <% end %>
  </div><!-- end form_container -->

</section>
