<section class="container">

  <h1><%= @header %></h1>

  <div class="hero-container">
    <%= image_tag("minesweeper-1") %>
  </div>

  <div class="settings-container">
    <%= form_with url: home_path do |f|%>
      <div class="field">
        <%= f.number_field :row_size, placeholder: 'enter a row size between 4 and 20', :min => 4, :max => 20  %>
      </div>
      <div class="field">
        <%= f.number_field :bomb_count, placeholder: 'enter a bomb count', :min => 4, :max => 20 %>
      </div>
    <% end %>
  </div>

</section>
