<section class="container">

  <h1 class=<%= @header_class %>><%= @header %></h1>

  <div class="main">
    <div class="form-container">
        <% @board.each.with_index do |row, i| %>
          <div class="row">
          <% row.each.with_index do |cell, j| %>
            <div class='cell <%= "cell_#{cell_position(i,j)} #{form_class(cell_position(i,j))}" %>'>
              <%= form_with url: update_path do |f|%>
              <%= f.hidden_field :content, value: cell[:submit_btn] %>
              <%= f.hidden_field :index, value: cell[:cell_position] %>
              <%= f.hidden_field :positions, value: @positions_to_string %>
              <%= f.hidden_field :rowsize, value: @rowsize %>
              <%= f.hidden_field :revealed, value: @positions_to_reveal %>
              <%= f.hidden_field :flags, value: @flags %>
              <%= f.hidden_field :dev_mode, value: @query_string %>
              <%= f.submit cell[:submit_btn], name: 'btnSubmit', class: cell_class(cell_position(i,j)), id: "submit_#{cell_position(i,j)}", data: { disable_with: false }, disabled: form_status(cell_position(i,j)) || disable_submit %>
              <div></div>
              <% end %>
            </div><!-- end cell -->
          <% end %>
        </div><!-- end row -->
        <% end %>
    </div><!-- end form_container -->
</div><!-- end main -->

<%= link_to 'New Game'.html_safe, home_path, class: 'reset' %>

</section>
